/*======Globales=======*/
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url(https://i.pinimg.com/originals/77/ca/a3/77caa32884d735d439ade45ba37feaf2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Poppins',sans-serif,Arial, Helvetica;
}

h2{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
}


.bold{
    font-weight: 800;
}

.cursiva{
    font-style: italic;
}

.subrayado{
    border-bottom: 2px solid #fff ;
    font-weight: 700;
}



.boton{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 1.2rem ;
    font-weight: 600;
}

.boton:hover{
    color: #fcf838;
}


.contenedor{
    background-color: transparent;
    width: 90%;
    margin: 4rem auto;
}
.contenedor-separador{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.separador-contenido{
    background-color: transparent;
    width: 80%;
    padding: 0;

}

.separador-extras{
    background-color: #0a1744db;
    backdrop-filter: blur(20px);
    width: 25%;
    border-radius: 1.2rem;
    padding: 1rem;
    height: 10%;
    max-height: 10%;
    border-style: groove;
}

main{
    margin-top: .1rem;
    background-color: rgba(37, 37, 168, 0.5);
    backdrop-filter: blur(30px);
    border-radius: 1.2rem;
    border-style: groove;
}

section{
    width: 100%;
    max-height: 50%;
}

/*======Barra de navegación======*/

header{
    margin: 0 0 .8rem 0;
    background-color: #0a1744db;
    backdrop-filter: blur(20px);
    border-style: groove;
    border-radius: 1.2rem;    
    max-height: 30rem;

}

.navegacion{
    display: flex;
    justify-content: space-between;
}

.menu{
  width: 70%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-height: 30rem;
}

.menu-redes{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: end;
  padding-right: 1.3rem;
  gap: .6rem;
  flex-wrap: wrap;
}

.menu-redes a i{
    font-size: 1.5rem;
    color: #fff;
}

.menu-redes a:nth-child(1) i:hover{
    color: #3aa1f0;
}

.menu-redes a:nth-child(2) i:hover{
    color: #7c06e3;
}


.lista-menu{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    height: 3rem;
    margin: 0;
    flex-wrap: wrap;
    gap: .8rem;
    padding-left: 1.3rem;
    max-height: 30rem;
    
}

.lista-menu a{
    font-size: 1rem;
    color: #fff;
    
}


/*======Secciones======*/


/*======Seccion - Acerca de mí======*/
.profile{
    display: flex;
}

.profile-img{
    margin: 0rem;
    padding: 0.7rem 0.7rem 0 0.7rem;
    flex: 0 1 25%;
    border-radius: 1.2rem 0 0 1.2rem;
    background-color: rgba(28, 83, 54, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px #032835;
    
}
.profile-img img{
    width: 100%;
    border-radius: 50%;
}

.iconos-tech{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.2rem;
    align-items: center;

}

.profile-description{
    flex: 1 0 75%;
    width: auto;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;  
    background-color: rgba(162, 28, 228, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 0rem 1.2rem 1.2rem 0;
    height: 100%;
}

.profile-description p{
    margin-top: 0;
}

.profile-description p:nth-child(2){
    font-weight: 600;
}

.profile-description p:nth-child(3){
    margin: 1rem;
    text-align: justify;
    padding-left: 0;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-bottom: .3rem;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif,Arial, Helvetica;
}

.profile .profile-img span img{
    width: 1.7rem;
    border-radius: 0%;
}


/*======Seccion - Habilidades======*/
.section-skills{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    
}

.skills-header{
    text-align: center;
}
.skills-list ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90%;
}

.skills-list ul li{
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 1px;
    text-align: justify;
    
}

.skills-list ul li span{
    font-weight: 800;

}

.section-experience{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.section-experience h2{
    text-align: center;
}

.card{
    display: flex;
    background-color: #fff;
    color: #030b36;
    width: 32%;
    flex-wrap: wrap;
    padding: .5rem;
    text-align: center;
    margin: 1rem;
    max-height: 10%;
    border-radius: 10px;
    font-size: 1.1rem;
}

.card:hover{
    box-shadow: 0px 0px 9px #fff;
}

.contenedor-img{
    margin: 0 auto;
    width: 70%;
}

.contenedor-contenido{
    margin: 0 auto;
}

.contenedor-img img{
    width: 90%;
    border: 1px solid #374692;
    border-radius: 19%;
    margin-bottom: 0;
}
.card div p{
    font-family: 'Open Sans',sans-serif,Arial, Helvetica;
    line-height: 1;
}
.card div ul li{
    text-align: start;
    font-size: 1rem;
    line-height:1.4;
    
}

/*======Seccion - Portafolio======*/

.section-briefcase{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}
.briefcase-proyects{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.section-briefcase .card div p{
    line-height: 1.5;
}

/*======Sección - Certificados======*/

.section-certificates{
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.certificates-header{
    text-align: center;
}

.certificates-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-certificates .card div{
    margin: 0 auto;
}

.section-certificates .certificates-cards .card div img{
    border: none;
}

.section-certificates .certificates-cards .card{
    height: 18rem;
}

.section-certificates .certificates-cards .card div img[src*="udemy"]{
    margin-top: 2rem;
    height: 9rem;
    width: 100%;

}

/*======Sección - Aside ======*/

.sections-aside{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0rem;    
    flex-wrap: wrap;
    
}
.sections-aside div h2{
    font-size: 1.3rem;
    margin-bottom: .5rem ;
    margin-top: .2rem;
}

.sections-aside div ul{
    margin-top:0;
    list-style: none;
    margin-bottom: 0.1rem;
    padding-left:0;
}

.sections-aside div ul li{
    margin: 0.3rem 0 0.4rem 0;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
}

.aside-educacion ul li{
    margin-bottom: 0.9rem;
}


.no-mostrar{
    display: none;
}
/*Media queries*/

@media screen and (min-width: 1000px) and (max-width: 1024px){
    header{
        height: 4.4rem;
    }
}

@media screen and (max-width: 820px) {
    .contenedor-separador{
       flex-direction: column ;
       align-items: center;
    }

    .separador-extras{
        width: 70%;
      
    }
    .menu{
        padding: 1rem;
        height: 4rem;
    }

    .menu-redes{
        justify-content: space-between;
    }

    

    .skills-header{
        max-width: 90%;
        height: 10vh;
        margin-bottom: 2rem;
    }
    .skills-list{
        max-width: 90%;
    }

    .section-experience{
        padding: 0;
    }

    .experience-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .experience-content .card{
        width: 60%;
    }

    .section-briefcase{
        padding: 0;
    }

    .briefcase-proyects{
        flex-direction: column;
        align-items: center;

    }

    .briefcase-proyects .card{
        width: 60%;
    } 

    .briefcase-proyects .card p{
        display: none;
    }

    .section-certificates{
        padding: 0;
    }

    .certificates-cards{
        flex-direction: column;
        align-items: center;
    }

    .certificates-cards .card{
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    .contenedor{
        width: 100%;
        margin: 0;
    }

    .separador-contenido{
        width: 100%;
    }


    header{
        margin: 1rem 1rem;
        height: 8rem;
    }

    .menu-redes{
        justify-content: end;
        
    }
    .profile{
        flex-direction: column;
    }
    
    .profile-img{
        width: 95%;
        margin: 0 0;
    }

    .profile-img img[alt="Foto perfil"]{
        width: 50%;
        margin: 1rem 25%;
    }

    .iconos-tech span{
        margin: 0;
    }


    .profile-description p:nth-child(3) {
        font-size: 1rem;
        margin-bottom: .4rem;
        margin-top: 0.3rem;
        text-align: center;
    }

    section{
        width: 100%;
    }
    
    
}

@media screen and (max-width:380px) {
    header{
        height: 12.5rem;
    }
    
}