/*=====Imports=======*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*======Globales=======*/
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url('https://64.media.tumblr.com/f52cb9dd756ad035cb2fd3500a7c0ada/tumblr_pofnbiG9ne1xcy6bso1_1280.gifv');
    /* url(https://i.pinimg.com/originals/77/ca/a3/77caa32884d735d439ade45ba37feaf2.gif) */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Poppins',sans-serif,Arial, Helvetica;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
   /* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
    background: #4d63f0;
    border-radius: 4px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #3108c4;
    box-shadow: 0 0 2px 1px rgba(83, 8, 233, 0.2);
  }
  
   /* Estilos track de scroll */
::-webkit-scrollbar-track {
    background: #dddcdf;
    border-radius: 4px;
  }
  
::-webkit-scrollbar-track:hover, 
::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  

h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

a{
    text-decoration: none;
}


.bold{
    font-weight: 800;
}

.cursiva{
    font-style: italic;
}

.centrar{
    margin: 0 auto;
    
}

.subrayado{
    border-bottom: 2px solid #fff ;
    font-weight: 700;
}



.boton{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 1.2rem ;
    font-weight: 600;
}

.boton:hover{
    color: #fcf838;
}

.astronauta{
    width: 100px;
    height: 100px;
    position: fixed;
}

.astronauta2{
    width: 100px;
    height: 100px;
    position: fixed;
    left: 90%;
    bottom: 2px;
}

.contenedor{
    background-color: transparent;
    width: 90%;
    margin: 2rem auto;
}
.contenedor-separador{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.separador-contenido{
    background-color: transparent;
    width: 75%;
    padding: 0;
    margin-left: 30%;
    height: 415vh;
    scroll-behavior: smooth;
}

.separador-extras{
    background-color: #0a1744;
    border-radius: 1.2rem;
    padding: 1rem;
    width: 20%;
    border-style: groove;
    position: fixed;
    left: 5%;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: .1rem;
    background-color: rgba(37, 37, 168);
    border-radius: 1.2rem;
    border-style: groove;
    height: 75%;
    overflow-y: scroll;
    width: 63%;
    position: fixed;
    scroll-behavior: smooth;
}

section{
    width: 90%;
    max-height: 50%;
    margin: 10rem auto;
}




/*======Barra de navegación======*/

header{
    margin: 1rem 4.5%;
    background-color: #0a1744db;
    border-style: groove;
    border-radius: 1.2rem;    

}

.navegacion{
    display: flex;
    justify-content: center;
}

.menu{
  width: 70%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-height: 30rem;
}

.menu-redes{
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: end;
  padding-right: 1.3rem;
  gap: .6rem;
  flex-wrap: wrap;
}

.menu-redes a i{
    font-size: 1.5rem;
    color: #fff;
}

.menu-redes a:nth-child(1) i:hover{
    color: #3aa1f0;
}

.menu-redes a:nth-child(2) i:hover{
    color: #7c06e3;
}


.lista-menu{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0;
    height: 3rem;
    margin: 0;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1.3rem;
    max-height: 30rem;
    
}

.lista-menu a{
    font-size: 1rem;
    color: #fff;
    
}

.lista-menu a:hover{
    color: #f5f53b;
}


/*======Secciones======*/

/*====== Acerca de mí ======*/

.section-inicio{
    margin-top: 5rem;
}

.section-inicio h1{
    margin-top: 0;
    text-align: center;
    font-size: 3rem;

}

.section-inicio img{
    display: block;
    margin: 1rem auto;
    width: 200px;

}

/*======Sección - Acerca de mí======*/
.profile{
    display: flex;
    flex-direction: column;
}

.profile-description{
    flex: 1 0 75%;
    width: auto;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;  
    border-radius: 0rem 1.2rem 1.2rem 0;
    height: 100%;
}

.profile-description p{
    margin-top: 0;
    text-align: justify;
    padding-left: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: .3rem;
    letter-spacing: 0.5px;
    font-family: 'Monserrat', sans-serif,Arial, Helvetica;
}

.profile .profile-img span img{
    width: 1.7rem;
    border-radius: 0%;
}

.informacion-general{
    display: flex;
    gap: 1rem;

}

.informacion-general div{
    text-align: center;
    border: 2px solid #f6ff51;
    margin-left: 6px;
    border-radius: 1.2rem;
}

.informacion-general div:nth-child(1){
    background-color: #207ef2;
}
.informacion-general div:nth-child(2){
    background-color: #294ed4;
}
.informacion-general div:nth-child(3){
    background-color: #6d22c9;
}

.informacion{
    width: 100%;
    margin: 0.5rem 0;
}

.informacion ul li{
    text-align: left;
   
}


/*======Seccion - Habilidades======*/
.section-skills{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    
}

.skills-header{
    margin-top: 0;
    text-align: center;
}
.skills-list{
    display: flex;
}

.list{
    display: flex;
    width: 100%;
    margin: 0 1rem;
    flex-direction: column;
}


.list h3{
    text-align: center;
    
    
}

.list span{
    display: inline;
    margin-top: .5rem;
}

.skill{
    background-color: #fcf838;
    color: #0b0606;
    line-height: 20px;
    padding: 5px;
    border-radius: 15px;
}

/*=======Sección de experiencia========*/

.section-experience{
    margin-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section-experience h2{
    text-align: center;
}

.experiencia-contenedor{
    display: flex;
    background-color: #e15d5d;
    border-radius: 1.2rem;
    max-width: 75%;
}

.experiencia-contenedor img{
    width: 250px;
    height: 250px;
    margin: 2rem 1rem;
}


.contenedor-img{
    padding: 2rem 1rem;
    margin: 0 auto;
    width: 40%;
}

.contenedor-contenido{
    padding: 1rem;
    width: 100%;
}

.contenedor-img img{
    width: 200px;
    border: 1px solid #374692;
    border-radius: 1.2rem;
    margin-bottom: 0;
}


.card div p{
    font-family: 'Open Sans',sans-serif,Arial, Helvetica;
    line-height: 1;
}
.card div ul li{
    text-align: start;
    font-size: 1rem;
    line-height:1.2;
    
}

/*======Seccion - Portafolio======*/

.section-briefcase{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 16rem;
}
.briefcase-proyects{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.section-briefcase .card div p{
    line-height: 1.2;
}

.proyecto{
    margin: .5rem 0;
    display: flex;
    background-color: #e2f01f;
    color: #000000;
    text-align: left;
    border-radius: 1.2rem;
}
.contenedor-descripcion{
    padding: 1rem;
    width: 80%;
}

.contenedor-descripcion h3{
    text-align: center;
}


/*======Sección - Certificados======*/

.section-certificates{
    display: flex;
    flex-direction: column;
    margin-top: 16rem;
    padding-top: 10rem;
}

.certificates-header{
    text-align: center;
}

.certificates-cards{
    display: flex;
    gap: 1rem;

}
.section-certificates .card div{
    margin: 0 auto;
}

.card{
    display: flex;
    background-color: #dbe45f;
    color: #030b36;
    width: 100%;
    height: 12.2rem;
    padding: .5rem;
    text-align: center;
    border-radius: 10px;
    font-size: 1.1rem;
    flex-direction: column;
}

.card div img{
    border: none;
    width: 50%;
}

.card:hover{
    transform: scale(1.1);

}

.imagen-curso{
    width: 120px;
    height: 120px;
  
}


/*======Sección - Aside ======*/

.profile-img{
    margin: 0rem;
    border-radius: 1.2rem 1.2rem 0 0;    
}

.separador-extras p{
    text-align: center;

}

.profile-img img{
    display: block;
    margin: 0 auto;
    width: 75%;
    border-radius: 50%;
}

.iconos-tech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.iconos-tech span{
    margin: .2rem .5rem 0 0;
}

.iconos-tech span img{
    border-radius: 0;
    width: 2rem;
}

.separador-extras h2{
    text-align: center;
    font-size: 1.5rem;
}

.separador-extras p{
    font-weight: 700;
    font-size: 1rem;
}
